html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0; padding: 0; border: 0; outline: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, legend { display: block; }
body {  line-height: 1; overflow: hidden !important;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-spacing: 0; }
input{outline:none;font-family: "微软雅黑";}
ul { list-style-type: none;}
li { display: block;}
a{text-decoration:none;color:#0ca4f0;}
body{
	min-width: 1000px;
	font-size:13px;
	background:#e4e4e4;
	font-family: "微软雅黑";
}

/*首页模板*/
.cRWrap{
	padding:0 0 0 7px;
	box-sizing: border-box;
	float:left;
	min-height:50px;
	width:25%;	
}
.cL{
	float:left;
	width:75%;
	min-height:50px;
	padding:14px;
	box-sizing: border-box;
	padding:0 7px 0 0;
}


/*首页模板END*/
.noBorder{
	border:none !important;
}
.fontC{
	color:#0ca4f0;
}
.mdH{
	color:#363636;
	/*border-left:4px solid #30bfd5;*/
	box-sizing: border-box;
	background:#f2f2f2;
	height:40px;
	line-height:40px;
	padding-left:18px;
	font-size:16px;
	/*border-bottom:1px solid #ddd;*/
}
.mdH span{
	border-top:2px solid #0ca4f0;
	color:#0ca4f0;
	display: inline-block;
	height:100%;
	line-height:36px;
	box-sizing: border-box;	
}
.mdH2{
	color:#363636;
	/*border-left:4px solid #30bfd5;*/
	box-sizing: border-box;
	background:#f2f2f2;
	height:40px;
	line-height:40px;
	padding-left:18px;
	font-size:16px;
	/*border-bottom:1px solid #ddd;*/
}
.mdH2 span{

	color:#0ca4f0;
	display: inline-block;
	height:100%;
	line-height:36px;
	box-sizing: border-box;	
}
.mdH-M{
	position: relative; 
	padding-left:18px;
	height:54px;
	line-height:54px;
}
.mdH-M:after{
	
	 position: absolute; 
        content: '' ; 
        width: 4px; 
        left: 0; 
        bottom: 19px !important; 
        height: 14px; 


        background:#0ca4f0;

}
.md-btnB1{
	padding:0 12px 0 12px;
	height:36px;
	line-height: 36px;
	box-sizing: border-box;
	display: inline-block;
	cursor:pointer;
	border-radius: 4px;
	background:#0ca4f0;
	border:none;
	outline:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.md-btnB1:hover{
	background:#0ca4f0;
	border:none;
	outline:none;
}
.md-btnB2{
	padding:0 12px 0 12px;
	height:36px;
	line-height: 35px;
	box-sizing: border-box;
	display: inline-block;
	cursor:pointer;
	border-radius: 4px;
	border:1px solid #ddd;
	outline:none;
	font-size:14px;
	font-weight:bold;
	background:#fff ;
	color:#0ca4f0 ;
}
.md-btnB2:hover{
	background:#f8f8f8;
	
	border:1px solid #ddd;
	outline:none;
}

.btnB{
	cursor:pointer;
	padding:0 !important;
	background:#0ca4f0 !important;
	border:none !important;
	outline:none;
	color:#fff;
	font-size:14px;
	font-weight:bold;
}
.btnB:hover{
	background:#0055ad !important;
	border:none !important;
	outline:none;
}
.btnB1{
	cursor:pointer;
	padding:0 !important;
	background:#fff !important;
	border: 1px solid #ddd;
	outline:none;
	color:#0ca4f0;
	font-size:14px;
	display: block;
}
.btnB1:hover{
	background:#f6f6f6 !important;

	outline:none;
}
.tPaddingR{
	padding-right:12px;
	box-sizing: border-box;
}
.pdR{
	padding-right:36px;
	box-sizing: border-box;
}
/*公共间距样式*/
	/*主要用于大模块上下间距*/
.mgB14{
	margin-bottom:14px;
}	
	/*大模块中的通用内边距，H下面的内容模块外边距*/
.pd18{
	padding:18px;
}
/*input*/
input{
	border-radius: 4px;
	border:1px solid #ddd;
	padding:2px 8px 2px 8px;
	box-sizing: border-box;
	width:100%;
	height:36px;
	font-size:13px;
}
input:focus{
	border:1px solid #0ca4f0;
	box-shadow:0 0 3px rgba(141,158,255,0.4);
}
/*select*/
select{
	outline:none;
	border-radius: 4px;
	border:1px solid #ddd;
	padding:2px 8px 2px 8px;
	box-sizing: border-box;
	width:32.5%;
	margin-right:0.35%;
	float:left;
	height:36px;
	font-size:13px;
}
.lastSelect{
	margin-right:0;
}
select:focus{
	border:1px solid #0ca4f0;
	box-shadow:0 0 3px rgba(141,158,255,0.4);
}

/*td>input*/
.table1 td input{
	margin:0;
	border-radius: 0;
	border:none;
	box-sizing: border-box;
	width:100%;
	height:100%;
	font-size:13px;
	/*background:#fff;*/
}
.table1 td input:focus{
	box-sizing: border-box;
	position: relative;
	width:100%;
	height:100%;
	top:0;
	left:0;
	border:none;
}

/*外框模板*/
.md-cdWrap{
	box-shadow:0 1px 3px rgba(0,0,0,0.1);
	border-radius: 4px;
	overflow: hidden;
	background:#fff;
}
/*头部*/
.TloginBtn{
	display: none;
}
.topNav{
	position:fixed;
	top:0;
	width:100%;
	height:50px;
	background:rgba(58,81,96,0.97);
	box-shadow:0 1px 8px rgba(0,0,0,0.4);
	z-index: 9000;
	padding:0 18px;	
	box-sizing: border-box;
}
.topNavC{
	margin:0 auto;
	color:rgba(255,255,255,0.7);
}
.topNav .topFk{
	float:right;
	display: inline-block;
	height:100%;
	line-height:50px;
	color:rgba(255,255,255,0.7);
}
.topNav .topFk:hover{
	color:#fff;
}
.out{
	float:right;
	display: inline-block;
	height:100%;
	line-height:50px;
	color:rgba(255,255,255,0.7);
	padding-left:18px;
}
.topNav .out:hover{
	color:#fff;
}
.topNav .title{
	

	display:inline-block;
	height:50px;
	font-weight: bold;
	line-height:50px ;
	font-size:16px;	
	/*color:#898989;*/
}
/*身体*/
.content{
	margin-top:68px;
	overflow: hidden;
	margin-bottom:18px;
	
	padding:0 18px;
	box-sizing: border-box;
}
.contentC{
	margin:0 auto;
}

/*底部*/
.bottomWrap{
	position: fixed;
	height:42px;
	width:100%;
	background:#fff;
	padding:0 18px;
	box-sizing: border-box;
	bottom: 0;
}
.bottomC{
	margin:0 auto;
	padding-top:14px;
}
.bottomC p{
	font-size:12px;
	color:#a4a4a4;
	text-align: center;
	padding-bottom:8px;
	
}

h3{
	height:36px;
	line-height:36px;
	position: relative;
}
h3 span{
	display: inline-block;
	background:#0ca4f0;
	height:14px;
	width:4px;
	position: absolute;
	top:12px;
	left:-18px;
}
/*普通表格*/
.table1.topMargin{
	margin-top:12px;
}
.table1{
	box-sizing: border-box;
	width:100%;
	margin:0px auto;
	border-collapse:collapse;	
}
.table1 .trHead td{
	background: #f6f6f6;
    color: #646464;
    text-align: left;
    padding-left: 8px;
    font-weight: bold;
}
.table1 td{	
	padding:0;
	border:1px solid #ddd;
	width:100px;
	height:38px;
	font-size:13px;
	color:#363636;
}
.table1 td.tdTitle{
	font-weight: bold;
}
.table1 th td,.tdT{
	color:#0ca4f0;
}
.table1 td input{
	width:100%;
	height:100%;
}
.table1 .tdPadding{
	padding:0 8px 0 8px !important;
}
.table1.lineB{
	border:none;
	position: relative;
	margin-bottom: 42px;
}
.table1.lineB:after { 
    position: absolute; 
    content: ''; 
    width: 100%; 
    left: 0; 
    bottom: -32px; 
    height: 1px; 
    background-color: #fff; 
    border-bottom:1px dashed #ddd;
    -webkit-transform: scale(1,0.5); 
    transform: scale(1,0.5); 
    -webkit-transform-origin: center bottom; 
    transform-origin: center bottom ;
}
/*无边框表格*/
table.noBorderT{
	box-sizing: border-box;
	width:100%;
}
table.noBorderT td{	
	padding-top:6px;
	padding-bottom:6px;
	border:none;
	width:100px;
	height:38px;
	font-size:13px;
	color:#363636;
}
table.noBorderT td .chiIpu{
	color:#898989;
	
	margin-right:12px;
	position: relative;
}
table.noBorderT td .chiIpu span{
	position: absolute;
	top:2px;
	left:10px;
	font-weight:none;
}
table.noBorderT td .chiIpu input{
	width:260px;
	height:33px;
	color:#363636;
	padding:0 8px 0 62px;
}
table.noBorderT th td,.tdT{
	color:#0ca4f0;
}
.trChildRPadding td{padding-left:0;padding-right:18px;text-align: right;line-height: 1.5;}
.trChildRPadding td,.tdRPadding{padding-left:0;padding-right:18px;text-align: right;line-height: 1.5;}
.trChildRPadding td:last-child{padding-left:0;padding-right:0!important;text-align: right;line-height: 1.5;}
.td7{width:7% !important;min-width:83px !important;}
.td11{width:7% !important;min-width:90px !important;text-align: left;font-size:12px !important;}
.tdPadding{
	padding:3px 8px 3px 8px !important;
}
.tdAlignR{
	text-align: right;
}


/*TD辅助说明*/
.tdExplain{
	display: block;
	color:#898989;
	font-size:10px;
}
.lineB{
	padding-bottom:28px ;
	border-bottom:1px dashed #e4e4e4;
	margin-bottom:14px;
}
.mR12{
	margin-right:12px;
}
/*自定义单、复选框*/
.labelWrap label{
	border:1px solid #ddd;
	height:100%;
	padding:12px 8px 0 8px;
	border-radius: 4px;
}
.labelWrap label:hover{
	border:1px solid #0ca4f0;

}
.labelWrap.disabledBorder label:hover{
	border:1px solid #ddd;

}
label {font-size:12px;cursor:pointer;margin-top:3px;margin-right:12px;padding-left:2px;float:left;min-width:130px}
label i {font-size:12px;font-style:normal;display:inline-block;width:12px;height:12px;text-align:center;line-height:12px;color:#fff;vertical-align:middle;margin:-2px 8px 1px 0px;border:#ddd 1px solid;}
input[type="checkbox"],input[type="radio"] {display:none;}
input[type="radio"] + i {border-radius:7px;}
input[type="checkbox"] + i {border-radius:3px;}
input[type="checkbox"]:checked + i,input[type="radio"]:checked + i {background:#0ca4f0;border:#0ca4f0 1px solid;}
input[type="checkbox"]:disabled + i,input[type="radio"]:disabled + i {border-color:#ccc;background:#f6f6f6;}
input[type="checkbox"]:checked:disabled + i,input[type="radio"]:checked:disabled + i {background:#ccc;}


/*自定义上传*/
.fileUpload {
	position: relative;
	overflow: hidden;
	width:88px;
	text-align: center;
	margin-left:12px;
	height:36px;
	line-height: 36px;
	border-radius: 4px;
	display: inline-block;
	}

.fileUpload input.upload {	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.uploadFileW #uploadFile{
	width:300px !important;
	float:left;
}
.fileUpload{
	float:left;
}
.tdSm{
	display: inline-block;
	height:100%;
	line-height: 36px;
	margin-left:12px;
	color:#898989;
}

/*无内容图片*/
.nullC{	
	text-align: center;
	margin:38px auto;
	padding-top:24px;
	overflow:hidden;
}
.nullC img{
	width:130px;
	height:auto;
}
.nullC p{
	padding:36px 0;
	color:#898989;
}
/*禁用样式*/
input:disabled{
    border: 1px solid #DDD;
    background-color: #f2f2f2;
    color:#898989;
}
//IE8-
input[disabled]{
    border: 1px solid #DDD;
    background-color: #f2f2f2;
    color:#898989;
}
//IE6 Using Javascript to add CSS class "disabled"
* html input.disabled{
    border: 1px solid #DDD;
    background-color: #f2f2f2;
    color:#898989;
}
.disabled{
	 background-color: #f2f2f2;
}


@media only screen and (min-width: 1360px) {
    .topNavC,.contentC,.bottomC{
    	width:1280px;
    }
    
}
@media only screen and (min-width: 1400px) {
    .topNavC,.contentC,.bottomC{
    	width:1280px;
    }
    
}
@media only screen and (min-width: 1600px) {
    .topNavC,.contentC,.bottomC{
    	width:1400px;
    }
 
}
@media only screen and (min-width: 1800px) {
    .topNavC,.contentC,.bottomC{
    	width:1500px;
    }
 
}




/*机构注册*/
.regJg{
	
}
/*.regAndStepW{
	overflow: hidden;
	width:100%;
}*/
.regAndStepC{
	width:200%;
	position: relative;	
	top:0;
	overflow: hidden;
}
#regWrap{
	padding-top:84px;
	min-height:400px;	
	width:50%;
	float:left;	
	overflow: hidden;
}

#applyWrap{
	width:50%;
	float:right;
	overflow: hidden;
}
.stepTextW{
	text-align: center;
	position:relative;
}
.stepText{
	text-align: center;
	margin: 0 auto;
}
.back{
	font-weight: 500;
	opacity:0;
	position:absolute;
	display:none;
	top:0;
	left:8%;
	color:#646464;
	font-size:14px;
	cursor: pointer;
	color:#0ca4f0;
}
.uploadBtn{
	font-weight: 500;
	opacity:0;
	position:absolute;
	display:none;
	top:0;
	right:-4%;
	color:#646464;
	font-size:14px;
	cursor: pointer;
	color:#0ca4f0;
}
.back,.uploadBtn:hover{
	color:#0ca4f0;
}
.regFrxx{
	
	display: block;
}
.regOkW{
	min-height:490px;

}
.regOkSm{
	margin:0 auto;
	padding-top:58px;
	line-height: 2;
	text-align: center;
	max-width:580px;
}
.regOkSm img{
	width:100px;
	height:auto;
	margin-bottom:24px;
}
.regOkW ul{
	padding-top:32px;
	min-height:160px;
}
.regOkW ul li{
	text-align: center;
	margin-bottom:18px;
}
.regOkW ul li span{
	color:#898989;
}
.SmXxT{
	display: inline-block;
	margin-right:12px;
	color:#898989;
}
.btnW{
	margin-top:38px;
	border-top:1px dashed #e4e4e4;
	padding-top:18px;
	text-align: center;
}
#preview{
	cursor:pointer;
	display: block;
	width: 150px; 
	height: 180px;
	box-shadow:0 1px 3px rgba(0,0,0,0.2);
}
#preview:hover{
	box-shadow:0 1px 5px rgba(0,0,0,0.4);
}
/*机构注册进度*/
.regProgressW{
	margin-bottom:18px;

}
.regProgressC{
	padding-top:12px;
	width:800px;
	margin:0 auto;
	margin-bottom:78px;
	position:relative;
}
.progressLine{
	margin:0 50px;
	box-sizing: border-box;
	background:#e4e4e4;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    
    height:6px;
    border-radius:4px;
   	
}
.progressTime{
	padding-top:8px;
	color:#a4a4a4;
	font-size:12px;
}
.progressLineOk{
	width:1%;
	float: left;
	background:#0ca4f0;
	height:100%;
	border-radius:4px;
	transition: width 1s;
	-moz-transition: width 1s;	/* Firefox 4 */
	-webkit-transition: width 1s;	/* Safari 和 Chrome */
	-o-transition: width 1s;	/* Opera */
}

.progressSm{
	width:100%;
	
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
	position:absolute;
	bottom:-27px;
	left:0;
}
.progressSm p{
	display:block;
	width:100px;	
	height:36px;
	text-align: center;
}
.progressSm p span{
	display:block;
}
.progressSm p em{
	display:inline-block;
	margin-bottom:8px;
	background:#ddd;
	width:12px;
	height:12px;
	border-radius: 50%;
}

.progressText{
	text-align: center;
	padding-bottom:18px;
	font-size:13px;
	color:#898989;
}
.process{
	color:#646464;
}
.process em{
	opacity:0;
}


/*登录查询进度页*/

.queryEntryW form{	
	width:400px;
	margin:0 auto;
	
	overflow: hidden;
}
.queryEntryW .rpLogin p {
    width: 100%;
    height: 42px;
    margin-bottom: 18px;
    position: relative;
}
.queryEntryW .rpLogin p img{
	 height: 42px;
}
.queryEntryW .rpLogin p input{
	padding-left:56px;
}
.queryEntryW{
	width:100%;
	background:#fff;
}


.queryEntryW p{
	
	width:100%;
	height:36px;
	margin-bottom:8px;
	position: relative;
}
.queryEntryW p img{
	position: absolute;
	width:auto;
	height:36px;
	
}
.queryEntryW p input{
	border-radius: 4px;
	border:1px solid #ddd;
	padding:0 8px 0 46px;
	box-sizing: border-box;
	width:100%;
	height:100%;
	font-size:13px;
	
}
.queryEntryW .yzm span{
	float:left;
	display: block;
	width:40%;
	height:100%;
}
.queryEntryW .yzm span input{
	width:100%;
	height:100%;
}
.queryEntryW .yzm .yzmInp{
	float:left;
	width:56%;
	margin-right:4%
}
.queryEntryW p input:focus{
	border:1px solid #0ca4f0;
	box-shadow:0 0 3px rgba(141,158,255,0.4);
}

.mark{
	position: relative;
	display: none;
	text-align: center;
	width: 200px;
	line-height: 50px;
	opacity: 0.5;
	height: 50px;
	background-color: #20A0FF;
	color: #222222;
	margin: 0 auto;
	z-index: 9999;
	padding-top: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}

.but00{
	outline: none;
    text-align: center;
    background-color: #0cd152;
    border-radius: 4px;
    padding: 0px 12px;
    height: 25px;
    line-height: 22px;
    margin-right: 8px;
    color: #fff;
    border: 1px solid #0cd152;
    transition: background 0.5s;
}
.but0{
	outline: none;
    text-align: center;
    background-color: #0aaaff;
    border-radius: 4px;
    padding: 0px 12px;
    height: 25px;
    line-height: 22px;
    margin-right: 8px;
    color: #fff;
    border: 1px solid #0aaaff;
    transition: background 0.5s;
}
.but0:hover {
    background-color: #006dd2;
    /* box-shadow: 0px 1px 2px #19a3c5 inset; */
}
.but00:hover {
    border: 1px solid #009b37;
    background-color: #009b37;
    box-shadow: none;
}
#selectProvince{
	display: none;
}
#selectCity{
	display: none;
}
#selectArea{
	display: none;
}

#inputProvince{
	float: left;
}
#inputCity{
	float: left;
}
#inputArea{
	float: left;
}

.loginNew{
	min-height:200px;
	width:40%;
	background:rgba(246,246,246,0.96);
	/*float:left;*/
	margin: 0 auto;
}
.loginNew h2 span{
	display:inline-block;
	
	font-size:22px;
	font-weight: normal;
	color:#358fa1;
	padding:54px 0px 0 18px;
	box-sizing: border-box;
}
.loginNew h2 em{
	display:inline-block;
	font-size:18px;
	font-weight: normal;
	color:rgba(92, 186, 206,1);
	border-left:1px solid rgba(92, 186, 206,1);
	margin:54px 18px 0 10px;
	box-sizing: border-box;
	padding-left:10px;
	font-style:normal;
	
}
.loginNew form{
	padding:18px 18px 12px 18px;
	overflow: hidden;
}
.loginNew p{
	
	width:100%;
	height:36px;
	margin-bottom:8px;
	position: relative;
}
.loginNew p img{
	position: absolute;
	width:auto;
	height:36px;	
}

.loginNew p input{
	border-radius: 4px;
	border:1px solid #ddd;
	padding:0 8px 0 46px;
	box-sizing: border-box;
	width:100%;
	height:100%;
	font-size:13px;
}
.loginNew p input:hover{
	border:1px solid #0394b0;
}
.loginNew p input:focus{
	border:1px solid #0394b0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
