<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcg.caoxian.bes.dao.MstObjectMapper">
  <resultMap id="BaseResultMap" type="com.wcg.caoxian.bes.model.MstObject">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="des" jdbcType="VARCHAR" property="des" />
    <result column="spell_no" jdbcType="VARCHAR" property="spellNo" />
    <result column="wubi_no" jdbcType="VARCHAR" property="wubiNo" />
    <result column="sort_no" jdbcType="VARCHAR" property="sortNo" />
    <result column="version_no" jdbcType="INTEGER" property="versionNo" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by_cd" jdbcType="VARCHAR" property="createdByCd" />
    <result column="last_updated_time" jdbcType="TIMESTAMP" property="lastUpdatedTime" />
    <result column="last_updated_by_cd" jdbcType="VARCHAR" property="lastUpdatedByCd" />
    <result column="deleted_flag" jdbcType="BIT" property="deletedFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    code, name, des, spell_no, wubi_no, sort_no, version_no, created_time, created_by_cd, 
    last_updated_time, last_updated_by_cd, deleted_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mst_object
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mst_object
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wcg.caoxian.bes.model.MstObject">
    insert into mst_object (code, name, des, 
      spell_no, wubi_no, sort_no, 
      version_no, created_time, created_by_cd, 
      last_updated_time, last_updated_by_cd, deleted_flag
      )
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{des,jdbcType=VARCHAR}, 
      #{spellNo,jdbcType=VARCHAR}, #{wubiNo,jdbcType=VARCHAR}, #{sortNo,jdbcType=VARCHAR}, 
      #{versionNo,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{createdByCd,jdbcType=VARCHAR}, 
      #{lastUpdatedTime,jdbcType=TIMESTAMP}, #{lastUpdatedByCd,jdbcType=VARCHAR}, #{deletedFlag,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wcg.caoxian.bes.model.MstObject">
    insert into mst_object
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="des != null">
        des,
      </if>
      <if test="spellNo != null">
        spell_no,
      </if>
      <if test="wubiNo != null">
        wubi_no,
      </if>
      <if test="sortNo != null">
        sort_no,
      </if>
      <if test="versionNo != null">
        version_no,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="createdByCd != null">
        created_by_cd,
      </if>
      <if test="lastUpdatedTime != null">
        last_updated_time,
      </if>
      <if test="lastUpdatedByCd != null">
        last_updated_by_cd,
      </if>
      <if test="deletedFlag != null">
        deleted_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="spellNo != null">
        #{spellNo,jdbcType=VARCHAR},
      </if>
      <if test="wubiNo != null">
        #{wubiNo,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null">
        #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdByCd != null">
        #{createdByCd,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedTime != null">
        #{lastUpdatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedByCd != null">
        #{lastUpdatedByCd,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        #{deletedFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wcg.caoxian.bes.model.MstObject">
    update mst_object
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="spellNo != null">
        spell_no = #{spellNo,jdbcType=VARCHAR},
      </if>
      <if test="wubiNo != null">
        wubi_no = #{wubiNo,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        sort_no = #{sortNo,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null">
        version_no = #{versionNo,jdbcType=INTEGER},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdByCd != null">
        created_by_cd = #{createdByCd,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedTime != null">
        last_updated_time = #{lastUpdatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedByCd != null">
        last_updated_by_cd = #{lastUpdatedByCd,jdbcType=VARCHAR},
      </if>
      <if test="deletedFlag != null">
        deleted_flag = #{deletedFlag,jdbcType=BIT},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wcg.caoxian.bes.model.MstObject">
    update mst_object
    set name = #{name,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR},
      spell_no = #{spellNo,jdbcType=VARCHAR},
      wubi_no = #{wubiNo,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=VARCHAR},
      version_no = #{versionNo,jdbcType=INTEGER},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      created_by_cd = #{createdByCd,jdbcType=VARCHAR},
      last_updated_time = #{lastUpdatedTime,jdbcType=TIMESTAMP},
      last_updated_by_cd = #{lastUpdatedByCd,jdbcType=VARCHAR},
      deleted_flag = #{deletedFlag,jdbcType=BIT}
    where code = #{code,jdbcType=VARCHAR}
  </update>
  
  <!-- 根据查询条件获取数据对象列表 -->
  <select id="searchByCondition" parameterType="java.lang.String" resultType="com.wcg.caoxian.bes.vo.mastervo.ObjectSearchOutVo">
    select code, name, spell_no spellNo
    from mst_object
    <where>
    	1 = 1
    	<if test="keyword != null and keyword != '' ">
	        and (name like #{keyword,jdbcType=VARCHAR}"%" or spell_no like #{keyword,jdbcType=VARCHAR}"%")
	    </if>
	    and deleted_flag = 0
	    <if test="page.offset != null and page.size != null and page.offset >= 0 and page.size >= 0 ">
    		limit #{page.offset},#{page.size}
    	</if>
    </where>
  </select>
  
  <!-- 根据查询条件获取数据对象列表记录数 -->
  <select id="searchCount" parameterType="java.lang.String" resultType="java.lang.Long">
    select count(1)
    from mst_object
    <where>
    	1 = 1
    	<if test="keyword != null and keyword != '' ">
	        and (name like #{keyword,jdbcType=VARCHAR}"%" or spell_no like #{keyword,jdbcType=VARCHAR}"%")
	    </if>
	    and deleted_flag = 0
    </where>
  </select>
  
  <!-- 根据主键获取数据对象列表信息 -->
  <select id="selectByCode" parameterType="java.lang.String" resultType="com.wcg.caoxian.bes.vo.mastervo.ObjectExcelVo">
    select code, name, spell_no spellNo
    from mst_object where code in
     <foreach collection="code" item="item" open="(" separator="," close=")">
     	#{item}
     </foreach>
     and deleted_flag = 0
  </select>
  
</mapper>